
<div [@fadeIn] class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="p-5 text-center">
        <section class="fila1">
            <div class="container-home">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/gps.png" alt="">
                    </div>
                    <div class="content">
                        <a routerLink="/listHotels">BUSCA</a>
                        <p>Encuentra los hoteles que has estado buscando.</p>
                    </div>
                </div>
               
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/calendario.png" alt="">
                    </div>
                    <div class="content">
                        <a routerLink="/services">SERVICIOS</a>
                        <p>Servicios que puedes añadir a tus reservaciones.</p>
                    </div>
                </div> 
                
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/avion.png" alt="">
                    </div>
                    <div class="content">
                        <a href="#">VIAJA</a>
                        <p>Te mostramos los hoteles por preferencia</p>
                    </div>
                </div>
        
            </div>
        </section>
    </div>
</div>
